<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="com.isencia.passerelle.workbench.model.editor.ui.dropFactory" name="Drop Class Factory" schema="schema/com.isencia.passerelle.workbench.model.editor.ui.dropFactory.exsd"/>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="Passerelle Model"
            extensions="moml"
            icon="icons/model.gif"
            contributorClass="com.isencia.passerelle.workbench.model.editor.ui.editor.PasserelleActionBarContributor"
            class="com.isencia.passerelle.workbench.model.editor.ui.editor.PasserelleModelMultiPageEditor"
            id="com.isencia.passerelle.workbench.model.editor.ui.editors.modelEditor">
         <contentTypeBinding
               contentTypeId="com.isencia.passerelle.workbench.model.editor.ui.moml">
         </contentTypeBinding>
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
         <propertyContributor 
         	contributorId="com.isencia.passerelle.workbench.model.editor.ui.editors.modelEditor"
         	labelProvider="com.isencia.passerelle.workbench.model.editor.ui.properties.ActorLabelProvider">
         	<propertyCategory category="actor" />
         </propertyContributor>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
         <propertyTabs contributorId="com.isencia.passerelle.workbench.model.editor.ui.editors.modelEditor">
            <propertyTab
                  category="actor"
                  id="com.isencia.passerelle.workbench.model.editor.ui.properties.tab.general"
                  label="General">
            </propertyTab>
         	<propertyTab
                afterTab="com.isencia.passerelle.workbench.model.editor.ui.properties.tab.general"
                category="actor"
                id="com.isencia.passerelle.workbench.model.editor.ui.properties.tab.parameters"
                label="Properties">
         	</propertyTab>	
         </propertyTabs>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
         <propertySections  contributorId="com.isencia.passerelle.workbench.model.editor.ui.editors.modelEditor">
         	<propertySection 
         		class="com.isencia.passerelle.workbench.model.editor.ui.properties.ActorParameterSection"
         		id="com.isencia.passerelle.workbench.model.editor.ui.properties.section.parameters"
         		tab="com.isencia.passerelle.workbench.model.editor.ui.properties.tab.parameters" >
         		<input type="org.eclipse.gef.editparts.AbstractGraphicalEditPart" />
         	</propertySection>
          <propertySection
                class="com.isencia.passerelle.workbench.model.editor.ui.properties.ActorGeneralSection"
                id="com.isencia.passerelle.workbench.model.editor.ui.properties.section.general"
                tab="com.isencia.passerelle.workbench.model.editor.ui.properties.tab.general">
             <input
                   type="org.eclipse.gef.editparts.AbstractGraphicalEditPart">
             </input>
          </propertySection>	
         </propertySections>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.isencia.passerelle.workbench.model.editor.ui.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         id="com.isencia.passerelle.workbench.model.editor.ui.PasserelleCategory"
         name="Workflow Preferences"
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.edna.workbench.preferences.root"
            class="com.isencia.passerelle.workbench.model.editor.ui.PasserellePreferencePage"
            id="com.isencia.passerelle.workbench.model.editor.ui.PasserellePreferences"
            name="Workflow Preferences">
      </page>
   </extension>
   

   <extension point="org.eclipse.core.contenttype.contentTypes">
   
        <content-type id="com.isencia.passerelle.workbench.model.editor.ui.moml" name="MOML" 	
			          base-type="org.eclipse.core.runtime.xml"
			          priority="low"
			          file-extensions="moml">			
			<property name="org.eclipse.core.runtime.charset" default="UTF-8"/>
			<describer class="org.eclipse.core.runtime.content.XMLContentDescriber"/>
		</content-type>
   
   </extension>

</plugin>
